<div class="navbar__menu">
    <ul class="navbar__menu-list">
      <li class="navbar__menu-item">
        <img src="assets/text-logo.png" routerLink="/main" alt="logo" width="219" height="50"/>
      </li>
      <li class="navbar__menu-item">
        <a routerLink="/calendar" class="navbar__menu-link">Calendar</a>
      </li>
      <li class="navbar__menu-item">
        <a routerLink="/contact" class="navbar__menu-link">Contact</a>
      </li>
      <li class="navbar__menu-item">
        <a routerLink="/login" class="navbar__menu-link">Login</a>
      </li>
    </ul>
  </div>