.navbar__menu {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa; /* Kolor tła dla całej nawigacji */
}

.navbar__menu-list {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #bb0a21;
}

.navbar__menu-item {
  flex: 1;
  text-align: center;
}

.navbar__menu-link {
  display: block;
  padding: 0;
  color: #000;
  text-decoration: none;
  background-color: #e9ecef; /* Kolor tła dla elementów */
}

.navbar__menu-link:hover {
  background-color: #4b88a2; /* Kolor tła na hover */
}

.navbar__menu img {
  cursor: pointer;
}
