.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9fb;
  color: #000000;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.table-placement {
  width: 90%;
}

.chart-container {
  width: 40%;
  display: none;
}

.chart-container.visible {
  display: block;
}

.table-placement.chart-visible {
  width: 60%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  position: relative;
}